@page "/"

<PageTitle>Index</PageTitle>

<h2>Proof of concept for creating a high load DeFi wallet!</h2>

Welcome to my new Infuria blockchsin app.

@* <SurveyPrompt Title="How is Blazor working for you?" />
 *@